{% extends "novusapp/base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
	{% block head %}
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<!-- Meta, title, CSS, favicons, etc. -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% block title %} User Dashboard {% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/changepassword.css' %}">
	
	{% endblock %}
</head>

{% block content %}

<body class="nav-md">
	<div class="container body">
		<div class="main_container">
			<div class="col-md-3 left_col">
				<div class="left_col scroll-view">
					
					<div class="clearfix"></div>

					<!-- menu profile quick info -->
					<div class="profile clearfix">
						<div class="profile_pic" style="margin-left: 10px; display: flex; align-items: center;">
							<!-- Logo with text -->
							<img src="{% static 'images/logo.png' %}" alt="Logo" class="img-circle profile_img" style="margin-right: 20px;">
							<span class="logo_text">Novus Insights</span>
						</div>
						<div class="profile_info">
							<span>Welcome,</span>
							<h2>{{username}}</h2>
						</div>
					</div>
					
					<!-- /menu profile quick info -->

					<br />

					

					<!-- /menu footer buttons -->
					<div class="sidebar-footer hidden-small">
					
					</div>
					<!-- /menu footer buttons -->
				</div>
			</div>

			<!-- top navigation -->
			<div class="top_nav">
				<div class="nav_menu">
					<div class="nav toggle">
						<a id="menu_toggle"><i class="fa fa-bars"></i></a>
					</div>
					<nav class="nav navbar-nav">
						<ul class=" navbar-right">
							<li class="nav-item dropdown open" style="padding-left: 15px;">
								<a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
									{{username}}
									
								</a>
								<div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
									<a class="dropdown-item" href="profile"> Profile</a>
									
									<a class="dropdown-item" href="{% url 'logout' %}"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
						
								</div>
							</li>

						</ul>
					</nav>
				</div>
			</div>
			<!-- /top navigation -->

			<!-- page content -->
			<div class="right_col" role="main">
				<div class="">
					<div class="page-title">
						<div class="title_left">
							<h3></h3>
						</div>

						<div class="title_right">
							<div class="col-md-5 col-sm-5  form-group pull-right top_search">
								
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="row">
						<div class="col-md-12 col-sm-12">
							<div class="x_panel">
								{% if messages %}
								<div id="message-container">
									<ul class="messages">
										{% for message in messages %}
										<li class="{{ message.tags }} message-item" style="color:green;">{{ message }}</li>
										{% endfor %}
									</ul>
								</div>
								{% endif %}
								<div class="x_title">
									<h2>Change Password<small>*</small></h2>
									
									<ul class="nav navbar-right panel_toolbox">
										
									</ul>
									<div class="clearfix"></div>
								</div>
								<div class="x_content">
								
									<form id="demo-form2" data-parsley-validate class="form-label-left" method="post" action="{% url 'change_password' %}">
										{% csrf_token %}

										<div class="form-group">
                                            <label class="control-label" for="password">Old Password <span class="required">*</span></label>
                                            <div>
                                                <input id="old_password" class="form-control input-space" type="password" name="old_password" required="required">
                                                <span id="passwordError" style="color: red;"></span>
                                            </div>
                                        </div>
                                        
                                        <div class="form-group">
                                            <label class="control-label" for="new_password">New Password <span class="required">*</span></label>
                                            <div>
                                                <input id="new_password" class="form-control input-space" type="password" name="new_password" required="required">
                                                <span id="newPasswordError" style="color: red;"></span>
                                            </div>
                                        </div>



                                        <div class="form-group">
                                            <label class="control-label" for="confirm_password">Confirm Password <span class="required">*</span></label>
                                            <div>
                                                <input id="confirm_password" class="form-control input-space" type="password" name="confirm_password" required="required">
                                                <span id="confirmPasswordError" style="color: red;"></span>
                                            </div>
                                        </div>

									
										<div class="ln_solid"></div>
									
										<div class="form-group">
											<div>
												<button class="btn btn-warning btn-attractive">
													<a href="{% if role == 'AM/Manager' %}{% url 'profile' %}
														   {% elif role == 'Team Lead' %}{% url 'user_dashboard' %}
														   {% else %}{% url 'hod_dashboard' %}{% endif %}">
														Back
													</a>
												</button>
												
												<button type="submit" class="btn btn-success btn-attractive">Submit</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
		        </div>
	        </div>
        </div>
	</div>
</body>

{% endblock %}


{% block scripts %}

<!-- jQuery -->
<script src="{% static 'vendors/jquery/dist/jquery.min.js' %}"></script>
<!-- Bootstrap -->
<script src="{% static 'vendors/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<!-- FastClick -->
<script src="{% static 'vendors/fastclick/lib/fastclick.js' %}"></script>
<!-- NProgress -->
<script src="{% static 'vendors/nprogress/nprogress.js' %}"></script>
<!-- bootstrap-progressbar -->
<script src="{% static 'vendors/bootstrap-progressbar/bootstrap-progressbar.min.js' %}"></script>
<!-- iCheck -->
<script src="{% static 'vendors/iCheck/icheck.min.js' %}"></script>
<!-- bootstrap-daterangepicker -->
<script src="{% static 'vendors/moment/min/moment.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
<!-- bootstrap-wysiwyg -->
<script src="{% static 'vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js' %}"></script>
<script src="{% static 'vendors/jquery.hotkeys/jquery.hotkeys.js' %}"></script>
<script src="{% static 'vendors/google-code-prettify/src/prettify.js' %}"></script>
<!-- jQuery Tags Input -->
<script src="{% static 'vendors/jquery.tagsinput/src/jquery.tagsinput.js' %}"></script>
<!-- Switchery -->
<script src="{% static 'vendors/switchery/dist/switchery.min.js' %}"></script>
<!-- Select2 -->
<script src="{% static 'vendors/select2/dist/js/select2.full.min.js' %}"></script>
<!-- Parsley -->
<script src="{% static 'vendors/parsleyjs/dist/parsley.min.js' %}"></script>
<!-- Autosize -->
<script src="{% static 'vendors/autosize/dist/autosize.min.js' %}"></script>
<!-- jQuery autocomplete -->
<script src="{% static 'vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js' %}"></script>
<!-- starrr -->
<script src="{% static 'vendors/starrr/dist/starrr.js' %}"></script>

<!-- Custom Theme Scripts -->

<script src="{% static 'build/js/custom.min.js' %}"></script>

<script>
    function validatePasswords() {
        // Get the values of the new password and confirm password fields
        var newPassword = document.getElementById('new_password').value;
        var confirmPassword = document.getElementById('confirm_password').value;

        // Get the error message elements
        var newPasswordError = document.getElementById('newPasswordError');
        var confirmPasswordError = document.getElementById('confirmPasswordError');

        // Reset error messages
        newPasswordError.textContent = '';
        confirmPasswordError.textContent = '';

        // Check if the passwords match
        if (newPassword !== confirmPassword) {
            // Display error messages
            newPasswordError.textContent = 'Passwords do not match';
            confirmPasswordError.textContent = 'Passwords do not match';

            return false;
        }

        // If passwords match, clear the error messages
        newPasswordError.textContent = '';
        confirmPasswordError.textContent = '';

        return true;
    }

    // Attach the validatePasswords function to the input event on the "Confirm Password" field
    document.getElementById('confirm_password').addEventListener('input', function() {
        validatePasswords();
    });
</script>



<script>
    $(document).ready(function() {
        $('#department').select2();

        setTimeout(function() {
            $('.message-item').fadeOut('slow');
        }, 5000);

        // Add event listener to validate mobile number on input change
        $('#mobile_no').on('input', function() {
            validateMobileNumber($(this).val());
        });
    });

    function validateMobileNumber(mobileNumber) {
        // Regular expression to validate 10-digit mobile number
        var mobileRegex = /^\d{10}$/;

        if (mobileRegex.test(mobileNumber)) {
            // Valid mobile number
            $('#mobileError').text('');
        } else {
            // Invalid mobile number
            $('#mobileError').text('Invalid mobile number. Please enter a 10-digit number.');
        }
    }
</script>


{% endblock %}

</body>
</html>
