{% extends "novusapp/base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %} user table {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/tables.css' %}">

    {% endblock %}
  </head>

{% block content %}

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
         
  
            <div class="clearfix"></div>
  
            <!-- menu profile quick info -->
            <div class="profile clearfix">
              <div class="profile_pic" style="margin-left: 10px; display: flex; align-items: center;">
                <!-- Logo with text -->
                <img src="{% static 'images/logo.png' %}" alt="Logo" class="img-circle profile_img" style="margin-right: 20px;">
                <span class="logo_text">Novus Insights</span>
              </div>
              <div class="profile_info">
                <span>Welcome,</span>
                <h2>{{hod}}</h2>
              </div>
            </div>
            <!-- /menu profile quick info -->
  
            <br />
            
  
            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>General</h3>
                <ul class="nav side-menu">
               
                  <li><a><i class="fa fa-edit"></i> User Registration <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="{% url 'hod_dashboard' %}">Forms</a></li>
                      
                    </ul>
                  </li>
                 
                  <li><a><i class="fa fa-table"></i> Respondent Data<span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="{% url 'userhod_data' %}">Tables</a></li>
                      
                    </ul>
                  </li>
                </ul>
              </div>
              
  
            </div>
            <!-- /sidebar menu -->
  
            <!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small">

            </div>
            <!-- /menu footer buttons -->
          </div>
        </div>
  
        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <div class="nav toggle">
              <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>
            <nav class="nav navbar-nav">
              <ul class=" navbar-right">
                <li class="nav-item dropdown open" style="padding-left: 15px;">
                  <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                    {{hod}}
                    <!-- <img src="images/img.jpg" alt=""> -->
                  </a>
                  <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="profile"> Profile</a>
                   
                    <a class="dropdown-item" href="{% url 'logout' %}"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
              
                  </div>
                </li>
  
                <li role="presentation" class="nav-item dropdown open">
                  <a href="javascript:;" class="dropdown-toggle info-number" id="navbarDropdown1" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-envelope-o"></i>
                    <span class="badge bg-green">{{total}}</span>
                  </a>
                  <ul class="dropdown-menu list-unstyled msg_list" role="menu" aria-labelledby="navbarDropdown1">
                    <li class="nav-item">
                      <a class="dropdown-item">
                        <!-- <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span> -->
                        <span>
                          <span> </span>
                          <span class="time"> </span>
                        </span>
                        {% for userid in user_data_list %}
                        <span class="message" style="color:green;">
                          <a href="{{host_url}}/hod_dashboard/confirm_registration/{{ userid.id }}">Activate user {{ userid.id }}</a><br>
                        </span>
                        {% endfor %}
                      </a>
                    </li>
                    
                    <li class="nav-item">
                      <div class="text-center">
                        <a class="dropdown-item">
                         
                          <strong><a href="{{host_url}}/hod_dashboard">See All Alerts</a></strong>
                         
                          <i class="fa fa-angle-right"></i>
                        </a>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->
  
       
        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Team Lead Request Status <small></small></h3>
              </div>

        

            <div class="clearfix"></div>

            <div class="row" style="display: block;">

              <div class="clearfix"></div>

              <div class="col-md-12 col-sm-12  ">
                <div class="x_panel">
                
                  <div class="x_content">

                   
                     
                      {% if messages %}
                      <div id="message-container">
                          <ul class="messages">
                              {% for message in messages %}
                              <li class="{{ message.tags }} message-item" style="color:green;">{{ message }}</li>
                              {% endfor %}
                          </ul>
                      </div>
                      {% endif %}
                      <div class="table-responsive">
                        <table class="table table-striped jambo_table bulk_action">
                            <thead>
                                <tr class="headings">
                                    <th class="column-title">Sr.No</th>
                                    <th class="column-title">Username</th>
                                    <th class="column-title">Email</th>
                                    <th class="column-title">Role</th>
                                    <th class="column-title">Manager</th>
                                    <th class="column-title">Hod Name</th>
                                    <th class="column-title">Status</th>
                                    <th class="column-title no-link last"><span class="nobr">Action</span></th>
                                </tr>
                            </thead>
                    
                            <tbody>
                                {% for user in user_data_list1 %}
                                <tr class="even pointer">
                                    <td class=" ">{{ forloop.counter }}</td>
                                    <td class=" ">{{ user.username }}</td>
                                    <td class=" ">{{ user.email }}</td>
                                    <td class=" ">{{ user.role }}</td>
                                    <td class=" ">{{ user.team }}</td>
                                    <td class=" ">{{ user.hod_name }}</td>
                                    {% if user.is_active == 0 %}
                                    <td class="a-right a-right">Pending</td>
                                    <td class="last">
                                        <a href="{{host_url}}/hod_dashboard/confirm_registration/{{ user.id }}"
                                           class="btn btn-danger btn-sm">View</a>
                                    </td>
                                    {% elif user.is_active == 1 %}
                                    <td class="a-right a-right">Complete</td>
                                    <td class="last">
                                        <a href="{{host_url}}/hod_dashboard/confirm_registration/{{ user.id }}"
                                           class="btn btn-success btn-sm">Edit</a>
                                    </td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    
                    </div>
							
						
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->

    {% endblock %}

    {% block scripts %}

    <!-- jQuery -->
    <script src="{% static 'vendors/jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap -->
   <script src="{% static 'vendors/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <!-- FastClick -->
    <script src="{% static 'vendors/fastclick/lib/fastclick.js' %}"></script>
    <!-- NProgress -->
    <script src="{% static 'vendors/nprogress/nprogress.js' %}"></script>
    <!-- iCheck -->
    <script src="{% static 'vendors/iCheck/icheck.min.js' %}"></script>

    <!-- Custom Theme Scripts -->
    <script src="{% static 'build/js/custom.min.js' %}"></script>
    <script>
      $(document).ready(function() {
          // Set the timeout to hide messages after 5 seconds (5000 milliseconds)
          setTimeout(function() {
              $('.message-item').fadeOut('slow');
          }, 5000);
      });
  </script>
  </body>
</html>

{% endblock %}