{% extends 'novusapp/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
	{% block head %}
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<!-- Meta, title, CSS, favicons, etc. -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% block title %} User Dashboard {% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/userdashboard.css' %}">
	
	{% endblock %}
</head>

{% block content %}


<body class="nav-md">
	<div class="container body">
		<div class="main_container">
			<div class="col-md-3 left_col">
				<div class="left_col scroll-view">
					<!-- <div class="navbar nav_title" style="border: 0;">
						<a href="#" class="site_title"><img src="{% static 'images/logo.png' %}" alt="..." class="img-circle profile_img"><span>Novus Insights</span></a>
					</div> -->

					<div class="clearfix"></div>

					<!-- menu profile quick info -->
					<div class="profile clearfix">
						<div class="profile_pic" style="margin-left: 10px; display: flex; align-items: center;">
							<!-- Logo with text -->
							<img src="{% static 'images/logo.png' %}" alt="Logo" class="img-circle profile_img" style="margin-right: 20px;">
							<span class="logo_text">Novus Insights</span>
						</div>
						<div class="profile_info">
							<span>Welcome,</span>
							<h2>{{username}}</h2>
						</div>
					</div>
					
					<!-- /menu profile quick info -->

					<br />

					<!-- sidebar menu -->
					<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
						<div class="menu_section">
							<h3>General</h3>
							<ul class="nav side-menu">
								<li><a><i class="fa fa-home"></i> Respondent Forms <span class="fa fa-chevron-down"></span></a>
									<ul class="nav child_menu">
										<li><a href="{% url 'user_dashboard' %}">Forms</a></li>
									</ul>
								</li>
							
								<li><a><i class="fa fa-table"></i> Respondent Data<span class="fa fa-chevron-down"></span></a>
									<ul class="nav child_menu">
										<li><a href="{% url 'userdata' %}">Tables</a></li>
										
									</ul>
								</li>
							</ul>
						</div>
						

					</div>
					<!-- /sidebar menu -->

					<!-- /menu footer buttons -->
					<div class="sidebar-footer hidden-small">
					
					</div>
					<!-- /menu footer buttons -->
				</div>
			</div>

			<!-- top navigation -->
			<div class="top_nav">
				<div class="nav_menu">
					<div class="nav toggle">
						<a id="menu_toggle"><i class="fa fa-bars"></i></a>
					</div>
					<nav class="nav navbar-nav">
						<ul class=" navbar-right">
							<li class="nav-item dropdown open" style="padding-left: 15px;">
								<a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
									{{username}}
									
								</a>
								<div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
									<a class="dropdown-item" href="profile"> Profile</a>
									
									<a class="dropdown-item" href="{% url 'logout' %}"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
						
								</div>
							</li>

						</ul>
					</nav>
				</div>
			</div>
			<!-- /top navigation -->

			<!-- page content -->
			<div class="right_col" role="main">
				<div class="">
					<div class="page-title">
						<div class="title_left">
							<h3></h3>
						</div>

						<div class="title_right">
							<div class="col-md-5 col-sm-5  form-group pull-right top_search">
							
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="row">
						<div class="col-md-12 col-sm-12">
							<div class="x_panel">
								{% if messages %}
								<div id="message-container">
									<ul class="messages">
										{% for message in messages %}
										<li class="{{ message.tags }} message-item" style="color:red;">{{ message }}</li>
										{% endfor %}
									</ul>
								</div>
								{% endif %}
								<div class="x_title">
									<h2>Respondent Data Form <small>Interview</small></h2>
									<ul class="nav navbar-right panel_toolbox">
										
									</ul>
									<div class="clearfix"></div>
								</div>
								<div class="x_content">
								
									<form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" method="post" action="{% url 'user_dashboard' %}">
										{% csrf_token %}
										<div class="form-group">
											<div class="col-md-3 col-sm-3 col-xs-12">
												<label class="control-label" for="respondent_name" style="margin-top: 36px;"> Respondent's Name <span class="required">*</span></label>
											</div>
											<div class="col-md-3 col-sm-3 col-xs-6">
												<input type="text" id="respondent_name" style="margin-top: 46px;" name='respondent_name' required="required" class="form-control input-space" >
											</div>
										</div>
					
										<div class="form-group">
											<div class="col-md-3 col-sm-3 col-xs-12">
												<label class="control-label" for="job_title" style="margin-top: 12px;">Job Title <span class="required">*</span></label>
											</div>
											<div class="col-md-3 col-sm-3 col-xs-6">
												<input type="text" id="job_title" style="margin-top: 18px;" name="job_title" required="required" class="form-control input-space">&nbsp;
											</div>
										</div>


										<div class="form-group">
											<div class="col-md-3 col-sm-3 col-xs-12">
												<label class="control-label" for="company" style="margin-bottom: 10px;">Company <span class="required">*</span></label>
											</div>
											<div class="col-md-3 col-sm-3 col-xs-6">
												<input id="company" class="form-control input-space" type="text" name="company" style="margin-bottom: 10px;" required="required">
											</div>
										</div>


										<div class="form-group">
											<div class="col-md-3 col-sm-3 col-xs-12">
												<label class="control-label" for="company_revenue" style="margin-bottom: 10px;">Company Revenue <span class="required">*</span></label>
											</div>
											<div class="col-md-3 col-sm-3 col-xs-6">
												<input id="project" class="form-control input-space" type="text" name="company_revenue" style="margin-bottom: 12px;" required="required">
											</div>
										</div>


										<div class="form-group">
											<div class="col-md-3 col-sm-3 col-xs-12">
												<label class="control-label" for="company_strength" style="margin-bottom: 10px;">Company Strength <span class="required">*</span></label>
											</div>
											<div class="col-md-3 col-sm-3 col-xs-6">
												<input id="project" class="form-control input-space" type="text" name="company_strength" style="margin-bottom: 10px;" required="required">
											</div>
										</div>
										
										
										<div class="form-group">
											<div class="col-md-3 col-sm-3 col-xs-12">
												<label class="control-label" for="industry" style="margin-bottom: 10px;">Industry <span class="required">*</span></label>
											</div>
											<div class="col-md-3 col-sm-3 col-xs-6">
												
												<select id="industry" class="form-control input-space" name="industry" style="margin-bottom: 10px;" required="required"> 
													
													<option value="" disabled selected>Type</option>
													{% for data in industry %}
													<option value="{{data.name}}">{{data.name}}</option>
													{% endfor %}
													<!-- <option value="option2">Option 2</option> -->
													
												</select>
												
											</div>
										</div>
										&nbsp;
										
										<div class="form-group">
											<div class="col-md-3 col-sm-3 col-xs-12">
												<label class="control-label" for="country" style="margin-bottom: 10px;">Country <span class="required">*</span></label>
											</div>
											<div class="col-md-3 col-sm-3 col-xs-6">
												<select id="country" class="form-control input-space" name="country" style="margin-bottom: 10px;" required="required"> 
													
													<option value="" disabled selected>country</option>
													{% for data in allcountry %}
													<option value="{{data.name}}">{{data.name}}</option>
													{% endfor %}
													<!-- <option value="option2">Option 2</option> -->
													
												</select>
											</div>
										</div>

								

										<div class="form-group">
											<div class="col-md-3 col-sm-3 col-xs-12">
												<label class="control-label" for="profile_link" style="margin-bottom: 10px;">Profile Link <span class="required">*</span></label>
											</div>
											<div class="col-md-3 col-sm-3 col-xs-6">
												<input id="profile_link" class="form-control input-space" type="text" name="profile_link" style="margin-bottom: 10px;" required="required">
											</div>
										</div>

										<div class="form-group">
											<div class="col-md-3 col-sm-3 col-xs-12">
												<label class="control-label" for="meeting_link" style="margin-bottom: 10px;">Meeting Link <span class="required">*</span></label>
											</div>
											<div class="col-md-3 col-sm-3 col-xs-6">
												<input id="meeting_link" class="form-control input-space" type="text" name="meeting_link" style="margin-bottom: 10px;" required="required">
											</div>
										</div>

										<div class="form-group">
											<div class="col-md-3 col-sm-3 col-xs-12">
												<label class="control-label" for="analyst" style="margin-bottom: 10px;">Analyst(Interviewer) <span class="required">*</span></label>
											</div>
											<div class="col-md-3 col-sm-3 col-xs-6">
												<input id="analyst" class="form-control input-space" type="text" name="analyst" style="margin-bottom: 10px;" required="required">
											</div>
										</div>

										<div class="form-group">
											<div class="col-md-3 col-sm-3 col-xs-12">
												<label class="control-label" for="project" style="margin-bottom: 10px;">Project <span class="required">*</span></label>
											</div>
											<div class="col-md-3 col-sm-3 col-xs-6">
												<input id="project" class="form-control input-space" type="text" name="project" style="margin-bottom: 10px;" required="required">
											</div>
										</div>
										
										<div class="form-group">
											<div class="col-md-3 col-sm-3 col-xs-12">
												<label class="control-label" for="project_type" style="margin-bottom: 10px;">Project Type <span class="required">*</span></label>
											</div>
											<div class="col-md-3 col-sm-3 col-xs-6">
												<select id="project_type" class="form-control input-space" name="project_type" style="margin-bottom: 10px;" required="required">
													<option value="" disabled selected>Interview Type</option>
													<option value="CAWI">CAWI</option>
													<option value="CAPI">CAPI</option>
													<option value="CATI">CATI</option>
													
												</select>
											</div>
										</div>
						
										&nbsp;&nbsp;

										<div class="form-group">
											<div class="col-md-3 col-sm-3 col-xs-12">
												<label class="control-label" for="incentive" style="margin-bottom: 10px;">Incentive <span class="required">*</span></label>
											</div>
											<div class="col-md-3 col-sm-3 col-xs-6">
												<input id="project" class="form-control input-space" type="text" name="incentive" style="margin-bottom: 10px;" required="required">
											</div>
										</div>


										<div class="form-group">
											<div class="col-md-3 col-sm-3 col-xs-12">
												<label class="control-label" for="interview_duration" style="margin-bottom: 10px;">Interview Duration <span class="required">*</span></label>
											</div>
											<div class="col-md-3 col-sm-3 col-xs-6">
												<input id="project" class="form-control input-space" type="text" name="interview_duration" style="margin-bottom: 10px;" required="required">
											</div>
										</div>
					
										&nbsp;
					
										<div class="form-group">
											<div class="col-md-3 col-sm-3 col-xs-12">
												<label class="control-label" for="birthday" style="margin-bottom: 10px;">Interview Date<span class="required">*</span></label>
											</div>
											<div class="col-md-3 col-sm-3 col-xs-6">
												<input id="birthday" class="date-picker form-control input-space" name="interview_date" placeholder="dd-mm-yyyy" type="text" required="required" onfocus="this.type='date'" onmouseover="this.type='date'" onclick="this.type='date'" onblur="this.type='text'" onmouseout="timeFunctionLong(this)" style="margin-bottom: 10px;">
											</div>
										</div>

										
										&nbsp;
										<div class="ln_solid"></div>
										
										<div class="form-group">
											<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
												<!-- <button class="btn btn-danger btn-attractive" type="button">Cancel</button> -->
												<button class="btn btn-warning btn-attractive" type="reset">Reset</button>
												<button type="submit" class="btn btn-success btn-attractive">Submit</button>
											</div>
										</div>
										
									</form>
								</div>
							</div>
						</div>
					</div>
		        </div>
	        </div>
        </div>
	</div>
</body>

{% endblock %}


{% block scripts %}


<!-- Bootstrap -->
<script src="{% static 'vendors/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>


<!-- Custom Theme Scripts -->

<script src="{% static 'build/js/custom.min.js' %}"></script>



<script>
	$(document).ready(function() {
		// Set the timeout to hide messages after 5 seconds (5000 milliseconds)
		$('#industry').select2();
		$('#project_type').select2();
		$('#country').select2();

		setTimeout(function() {
			$('.message-item').fadeOut('slow');
		}, 8000);
	});
</script>

{% endblock %}

</body>
</html>
