{% extends "novusapp/base1.html" %}
{{username}}
{% load static %} 
{% block head %}
{% block title %}
<title>User Dashboard </title>
{% endblock title %}
{% endblock head %} 
{% block right_col %}
        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
				{% include 'novusapp/alertmsg/msg.html' %}
              <div class="title_left">
                <h3><small></small></h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5   form-group pull-right top_search">
                  <div class="input-group">
                   
                  </div>
                </div>
              </div>
            </div>
            
            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12">
                <div class="x_panel">
                  	<div class="e">
                    	<h2>Respondent Form Data </h2>
             
                  	</div>
                  	<div class="x_content">
						<div class="col-md-12 col-lg-12 ">
					
							<form class="form-horizontal form-label-left" action="{% url 'user_dashboard' %}" method="post">
								{% csrf_token %}

								<div class="form-group row">
									<label class="control-label col-md-2 col-sm-2" for="respondent_name"> Respondent's Name <span class="required">*</span></label>
										<div class="col-md-4 col-sm-4">
											<input type="text" id="respondent_name" name='respondent_name' required="required" class="form-control input-space">
											<span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
										</div>
										
										<label class="control-label col-md-2 col-sm-2" for="job_title">Job Title <span class="required">*</span></label>
											<div class="col-md-4 col-sm-4">
												<input type="text" id="job_title" name="job_title" required="required" class="form-control input-space">
												<span class="fa fa-briefcase form-control-feedback right" aria-hidden="true"></span>
											</div>
								</div>
								<div class="form-group row">
									<label class="control-label col-md-2 col-sm-2" for="company">Company <span class="required">*</span></label>
									<div class="col-md-4 col-sm-4">
										<input id="company" class="form-control input-space" type="text" name="company" required="required">
										<span class="fa fa-building-o form-control-feedback right" aria-hidden="true"></span>
									</div>

									<label class="control-label col-md-2 col-sm-2" for="company_revenue">Company Revenue <span class="required">*</span></label>
									<div class="col-md-4 col-sm-4">
										<input id="project" class="form-control input-space" type="text" name="company_revenue" required="required">
										<span class="fa fa-inr form-control-feedback right" aria-hidden="true"></span>
									</div>
								
								</div>

								<div class="form-group row">
									<label class="control-label col-md-2 col-sm-2" for="company_strength">Company Strength <span class="required">*</span></label>
									<div class="col-md-4 col-sm-4">
										<input id="project" class="form-control input-space" type="text" name="company_strength"required="required">
									</div>

									<label class="control-label col-md-2 col-sm-2" for="industry">Industry <span class="required">*</span></label>
									<div class="col-md-4 col-sm-4">
												
										<select id="industry" class="form-control input-space" name="industry" required="required"> 
											
											<option value="" disabled selected>---SELECT---</option>
											{% for data in industry %}
											<option value="{{data.name|default_if_none:''}}">{{data.name|default_if_none:""}}</option>
											{% endfor %}
											<!-- <option value="option2">Option 2</option> -->
											
										</select>		
									</div>
								</div>

								<div class="form-group row">
									<label class="control-label col-md-2 col-sm-2" for="country">Country <span class="required">*</span></label>
									<div class="col-md-4 col-sm-4">
										<select id="country" class="form-control input-space" name="country" required="required"> 
											
											<option value="" disabled selected>---SELECT---</option>
											{% for data in allcountry %}
											<option value="{{data.name|default_if_none:''}}">{{data.name|default_if_none:""}}</option>
											{% endfor %}
											<!-- <option value="option2">Option 2</option> -->
											
										</select>
									</div>

									<label class="control-label col-md-2 col-sm-2" for="profile_link">Profile Link <span class="required">*</span></label>
									<div class="col-md-4 col-sm-6">
										<input id="profile_link" class="form-control input-space" type="text" name="profile_link" style="margin-bottom: 10px;" required="required">
									</div>
								
								</div>

								<div class="form-group row">
									<label class="control-label col-md-2 col-sm-2" for="meeting_link">Meeting Link <span class="required">*</span></label>
									<div class="col-md-4 col-sm-4">
										<input id="meeting_link" class="form-control input-space" type="text" name="meeting_link" required="required">
										<span class="fa fa-envelope form-control-feedback right" aria-hidden="true"></span>
									</div>

									<label class="control-label col-md-2 col-sm-2" for="analyst">Analyst(Interviewer) <span class="required">*</span></label>
									<div class="col-md-4 col-sm-4">
										<input id="analyst" class="form-control input-space" type="text" name="analyst" required="required">
									</div>
								
								</div>

								<div class="form-group row ">
									<label class="control-label col-md-2 col-sm-2" for="project">Project <span class="required">*</span></label>

									<div class="col-md-4 col-sm-4">
										<input id="project" class="form-control input-space" type="text" name="project" required="required">
									</div>

									<label class="control-label col-md-2 col-sm-2" for="project_type">Project Type <span class="required">*</span></label>
									<div class="col-md-4 col-sm-4">
										<select id="project_type" class="form-control input-space" name="project_type" required="required">
											<option value="" disabled selected>---SELECT INTERVIEW TYPE---</option>
											<option value="CAWI">CAWI</option>
											<option value="CAPI">CAPI</option>
											<option value="CATI">CATI</option>
											
										</select>
									</div>
								
								</div>

								<div class="form-group row ">
									<label class="control-label col-md-2 col-sm-2" for="incentive">Incentive <span class="required">*</span></label>
									<div class="col-md-4 col-sm-4">
										<input id="project" class="form-control input-space" type="text" name="incentive" required="required">
										<span class="fa fa-inr form-control-feedback right" aria-hidden="true"></span>
									</div>

									<label class="control-label col-md-2 col-sm-2" for="interview_duration">Interview Duration <span class="required">*</span></label>
									<div class="col-md-4 col-sm-4">
										<input id="project" class="form-control input-space" type="text" name="interview_duration" required="required">
										<span class="fa fa-clock-o form-control-feedback right" aria-hidden="true"></span>
									</div>

								</div>

								<div class="form-group row">
									<label class="control-label col-md-2 col-sm-2" for="birthday">Interview Date<span class="required">*</span></label>
									<div class="col-md-4 col-sm-4">
										<input id="birthday" class="date-picker form-control input-space" name="interview_date" placeholder="dd-mm-yyyy" type="text" required="required" onfocus="this.type='date'" onmouseover="this.type='date'" onclick="this.type='date'" onblur="this.type='text'" onmouseout="timeFunctionLong(this)" style="margin-bottom: 10px;">
									</div>
								</div>	

								<div class="ln_solid"></div>
										
								<div class="form-group row">
									<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
										<!-- <button class="btn btn-danger btn-attractive" type="button">Cancel</button> -->
										<button type="submit" class="btn btn-primary rounded-lg btn-attractive">Submit</button>
										<button class="btn btn-danger btn-attractive rounded-lg"  type="reset">Reset</button>
									</div>
								</div>
				

							</form>
						</div>	

						<p></p>

						<!-- start project list -->
						<table class="table table-striped projects">
					
						</table>
						<!-- end project list -->
					</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->

{% endblock right_col %} 
{% block script %}
<script
  type="text/javascript"
  charset="utf8"
  src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"
></script>
<script>
	$(document).ready(function() {
		// Set the timeout to hide messages after 5 seconds (5000 milliseconds)
		$('#industry').select2();
		$('#project_type').select2();
		$('#country').select2();

		setTimeout(function() {
			$('.message-item').fadeOut('slow');
		}, 8000);
	});
</script>
{% endblock script %}
